<h1>LOGIN DE USUARIO</h1>

<form action="/api/sessions/login" method="POST">

    <label for="email">Email</label>
    <input type="text" name="email" required>
    <br><br>

    <label for="password">Contraseña</label>
    <input type="text" name="password" required>
    <br><br>

    <button type="submit"> Ingresar </button>

</form>
<br>
<a href="/api/sessions/github">Loguea con Github!</a>