<h1>MI PERFIL</h1>

<p>Bienvenido {{user.first_name}} - {{user.last_name}} !!</p>
<p>Email: {{user.email}}</p>
<p>Edad: {{user.age}}</p>

<form action="/api/sessions/logout" method="POST">
    <button type="submit">Logout</button>
</form>